body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    font-family: 'Fira Code', monospace;
  }
  
  .container {
    max-width: 700px;
    margin-left: 20vw;
    margin-right: 10vw;
    padding: 40px 20px;
    box-sizing: border-box;
  }
  

  .htags {
    font-size: 3rem;
    margin-bottom: 30px;  
  }
  

  .atags {
    font-size: 1.2rem;
    margin-bottom: 20px;  
    line-height: 1.6;   
  }
  
  .atags p {
    margin-top: 12px;
    margin-bottom: 0;
  }
  

  .toptag {
    text-decoration: none;
    color: #0000ee;
  }
  
  .toptag:hover {
    text-decoration: underline;
  }
  

  .info-section p {
    font-size: 1.2rem;
    font-weight: normal;
    margin: 15px 0;       
    line-height: 1.6;     
  }
  